<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookStore Login</title>
    <ct th:replace="fragments/header :: commonhead"></ct>
    <link rel="stylesheet" href="resources/app/css/bookstore-signin.css"/>
</head>
<body>
  <div class="container">
  <form class="form-signin" method="post">
    <h2 class="form-signin-heading" th:text="#{login}"></h2>
    <label for="inputUserId" class="sr-only" th:text="#{user.id}"></label>
    <input type="text" id="inputUserId" name="userId" class="form-control" placeholder="User Id" required="required" autofocus="autofocus" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="required" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
  </div>
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
