<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <ct th:replace="fragments/header :: commonhead"></ct>
</head>
<body>
    <!-- Common header -->
    <div th:replace="fragments/header :: header"></div>
    
    <div class="container" id="layout">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1" th:text="#{email.address}">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" th:text="#{password}">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default"  th:text="#{submit}">Submit</button>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Common footer -->
    <div th:replace="fragments/footer :: footer"></div>
	<script src="resources/app/js/profile.js" type="text/javascript"></script>
</body>
</html>
